.page_featured {
	background-image:url('../../img/mind-set.png');
	max-width: 100%;
    height: auto;
	background-repeat: no-repeat;
	background-size: contain;
}
/*improvise text box padding for large screen*/
@media (min-device-width : 1023px)  {
   p{
	font-size: 120%;
	padding: 8%;
   }
}


	/*iphone5/se*/
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px)  {
	/*improvise 10 commandants holder*/
	.oi_custom_heading_holder {
		margin-bottom: 20px;
		margin-top: -220px;
	}

		/*mind set descrption*/
		.page_description {
			position: relative;
			top: 28px;
		}
	
}


/*styles for different size phone screens*/

@media (min-width: 360px) and (max-width: 700px) {
	/*improvise 10 commandants holder*/
	.oi_custom_heading_holder {
		margin-bottom: 20px;
		margin-top: -320px;
  }

}

@media (min-width: 100px) and (max-width: 700px) {


/*background image*/
	.page_featured {
		background-image:url('../../img/mindSetMob.gif');
		max-width: 100%;
		height: auto;				
		background-repeat: no-repeat;	
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100% 40%;
	}


}

	/*iPad media quries*/
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1023px)  {
		/*mind set descrption*/
		.page_description {
			position: relative;
			top: -80px;
		}
/*improvise 10 commandants holder*/
		.oi_custom_heading_holder {
			margin-bottom: 20px;
			margin-top: -200px;
		  }

		
    /*logo fix*/
   		 .img-fluid {
      	 	max-width: 29%;  
			height: auto;
			position: relative;
        	top: 9px;
        	left: -39px;
    }
			
}
/*iPad Pro media*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	/*mind set descrption*/
	.page_description {
		position: relative;
		top: -100px;
	}

/*improvise 10 commandants holder*/
	.oi_custom_heading_holder {
		margin-bottom: 20px;
		margin-top: -250px;
  }

    /*logo fix*/
    .img-fluid {
        max-width: 120%;  
		height: auto;
		position: relative;
        top: 9px;
        left: -39px;
    }
    /*navbar*/

    .hamburger_holder .icon_menu{
        position: relative;
        font-size: 40px;
        top:-2px;
        right: 0px;	 
    }

    .hamburger_holder .icon_close{
        position: relative;
        font-size: 39px;
        top: -1px;
        right: -3px;
        }
        /* !navbar*/


}

.newBackImage{
	background-image:url('../../img/mind-set.png');
	background-repeat: no-repeat;
}

.page_featured .page_description_over {
	background: #fff;
	opacity:0.1;
	
}
.page_featured .page_description p {
	color:#000;
}
.serv-1,
.serv-2 {
	margin-top: 100px;
}
.serv-1 .oi_icon_sub_titile {
	color:#666;
}
.serv-2 {
	margin-bottom:100px;
}
.serv-2 .oi_heading_icon {
	font-size:34px;
	line-height:34px;
	color:#000000;
}
.serv-2 .oi_heading_border span {
	width:100px;
	background-color:#e8e8e8;
}
.serv-2 .oi_vc_button {
	display:inline-block;
	font-size:12px;
	line-heigth:12px;
	color:#ffffff;
	background-color:#000000;
	padding:10px 15px;
	border-width:0px;
	border-style:solid;
	border-color:#1dc6df;
	border-radius:3px;
}
.serv-2 .oi_icon_titile {
	color:#222;
}
.serv-2 .oi_icon_sub_titile {
	color:#666;
}

.serv-3 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #f1f1f1 url(../../img/moneybg.jpg);
	background-position: 0 0;
	background-repeat: repeat;
	border-top-color: #f1f1f1;
	border-top-style: solid;
	border-bottom-color: #f1f1f1;
	border-bottom-style: solid;
	color:#000;
}
.serv-4 {
	margin-top:40px;
	margin-bottom:40px;
}
.serv-4 .oi_heading_border span {
	text-align:center;
	width:130px;
	border-top:1px dotted #d1d1d1;
}
.serv-4 .oi_icon_sub_titile {
	color:#666;
}
.serv-5 {
	margin-bottom: 100px
}