{% load static %} 
<html lang="en-US" class="no-js">
<head>
    <title>Adiva Graphics</title>
    <link rel="icon" href="{% static 'web/framework/img/FAV.png' %}" type="image/gif/svg" sizes="16x16">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'web/framework/css/bootstrap.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/contact-form.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/remodal.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/remodal-default-theme.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/elegant-font/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/linecons/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/lightcase/lightcase.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/tipso.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/animate.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/owl.carousel.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/jquery.pagepiling.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/siliconfolio.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/vc.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/wocommerce.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/woocommerce-layout.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/woocommerce-smallscreen.css' %}" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="{% static 'web/framework/css/woocommerce.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/page/main.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/lightcase/lightcase.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'web/framework/css/page/account.css' %}" type="text/css" media="all" />

    <script src="{% static 'web/framework/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'web/framework/js/jquery.js'%}"></script>
    <script src="{% static 'web/framework/js/jquery-migrate.min.js' %}"></script>
    
    <script src="{% static 'web/framework/js/jquery.pagepiling.min.js'%}"></script>
    <script src="{% static 'web/framework/js/html5min.js' %}"></script>
   
    <!-- <script type="text/javascript">

        $(document).ready(function()
        {
        if($(window).width() < 1200)
             XMLHttpRequestUpload('src','framework/js/jquery.pagepiling.min.js')
        });
        
        </script> -->
    
</head>

<body class="home woo_active raw_scroller">
    <div class="header">
        <div class="logo_holder">
            <a href="{% url 'login' %}">
                    <img class="logo_for_dark_bg img-fluid" src="{% static 'web/framework/img/lo.png' %}" alt="Adiva Graphics" />
                    <img class="logo_for_light_bg img-fluid" src="{% static 'web/framework/img/lo.png' %}" alt="Adiva Graphics" />
                    <br><sub>client Login</sub>
            </a>
            
        </div>
        <div id="site-header-social-menu" class="social-navigation">
            <nav id="social-navigation" class="social-navigation" aria-label="Social Menu">

            </nav>
            <!-- .social-navigation -->
        </div>
        <!-- .site-header-social-menu -->
    </div>
    <div class="page_title">
        <p>Home</p>
    </div>
    <h6 class="section_number">01</h6>
    <div class="hamburger_holder">
        <span class="icon_menu" aria-hidden="true"></span>
    </div>

    {% include "webapp/include/nav.html" %}
    <div class="footer">
        <p>Developed by Team Adiva.
            <br> Copyright © 2010 - 2018 Adiva Graphics, LLC. All Rights Reserved
        </p>
    </div>
    <div class="overlay"></div>
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div>
                <div class="entry-content" id="pagepiling">
                    <div id="home" class="ppslide no-gutters  full-height main-1">
                        <div class="main-1-1">
                            <img src="{% static 'web/framework/img/outs.gif'%}">
                        </div>
                        <div class="main-1-2">
                            <img src="{% static 'web/framework/img/logob.png' %}"  alt="Adiva Graphics" class="img-fluid">
                        </div>
                    </div>
                    <div id="Short Story" class="ppslide light_bg full-height align-items-center d-flex main-1-3">
                        <div class="container">
                            <div class="col-md-8 centered">
                                <div class="vc_column-inner">
                                    <div class="oi_vc_text item_height_x2 main-6-1 x-3">
                                        <div class="oi_vc_text_span">
                                            <h2>
                                                <span>
                                                </span>
                                                <strong>Short Story</strong>
                                            </h2>
                                            <p class="mb-4">Adiva Graphics formally started in 2010. The dream behind Adiva Graphics was
                                                to address a major gap in the Market Research Industry. This bottleneck refers
                                                to Charting. While working at Millward Brown, Tamzid Alam Ziad noticed that
                                                even after completing surveys, collecting data and compiling them, the final
                                                product would be delayed due to a lack of efficiency/staffing/support from
                                                the charting department. Adiva Graphics is one of the few organizations in
                                                the world which cater exclusively to Charting.
                                            </p>
                                            <p class="mb-3">The company is built on 35 years of Market Research experience. It caters to
                                                client in the United States. The company, since inception, has experienced
                                                rapid growth in terms of clients, project experience, and personnel. It is
                                                also led by 30+ years of sound business and HR expertise.
                                            </p>
                                            <p class="mb-3">Our main business focus is charting. Additionally, we have integrated Survey
                                                Quality Checking / Data Tab Assurance, Debranding and Ad Transcripts to the
                                                business model. However, since Charting is our proverbial "Golden Goose",
                                                everyone is required, regardless of specific department, to expect that they
                                                will be charting 100% of their time here at Adiva Graphics.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Our Livelihood" class="ppslide light_bg full-height-1 align-items-center d-flex main-2-z">
                        <div class="container">
                            <div class="col-md-8 centered">
                                <div class="vc_column-inner">
                                    <div class="oi_vc_text item_height_x2 main-6-1 x-3">
                                        <div class="oi_vc_text_span">
                                            <h2>
                                                <span>
                                                </span>
                                                <strong>Our Livelihood</strong>
                                            </h2>

                                            <p class="mb-3">However, since Charting is our proverbial "Golden Goose", everyone is required,
                                                regardless of specific department, to expect that they will be charting 100%
                                                of their time here at Adiva Graphics.</p>

                                            <div class="row mb-30">
                                                <div class="col-md-12 zoom">
                                                    <a class=" " href="{% static 'web/framework/img/services.gif' %}" data-rel="lightcase:gallery_name:slideshow">
                                                        <div class="oi_ff_img_holder ">
                                                            <img class="img-fluid" src="{% static 'web/framework/img/services.gif' %}" alt="" /> </div>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="achivements" class="ppslide dark_bg full-height align-items-center d-flex main-6">
                        <div class="container">
                            <div class="row centered">
                                <div class="col-md-6">
                                    <div class="vc_column-inner">
                                        <div class="oi_vc_text item_height_x2 main-6-1">
                                            <div class="oi_vc_text_span">
                                                <h2>
                                                    <strong>Become a Family</strong>
                                                    <span>Member</span>
                                                </h2>
                                                <p class="mb-4">Human Resources at Adiva Graphics maintains a strict shift rotation policy
                                                    to ensure that we don't overwork our Talents. The nature of the work
                                                    we do is tedious that may lead to a decrease in focus of our talent after
                                                    8 hours.</p>
                                                <p class="mb-3">We ensure that we DO NOT work for more than 8 hours in any given shift. In
                                                    addition, we have allocated an entertainment room for breaks.</p>
                                                <p class="mb-z">
                                                    <strong>Mohammed Alam</strong>
                                                    <br>
                                                    <br>
                                                    <span> Custodian
                                                        <br> Adiva Graphics</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="vc_column-inner">
                                        <div class="oi_vc_text item_height_x2 list-service">
                                            <div class="oi_vc_text_span">
                                                <div class="oi_custom_heading_holder">
                                                    <div class="oi_heading_icon oi_heading_icon_left">
                                                        <i class="li_fire"></i>
                                                    </div>
                                                    <div class="oi_vc_heading oi_border_position_center">
                                                        <h4 class="oi_icon_titile">Over 2000 </h4>
                                                        <div class="oi_heading_border oi_border_position_center">
                                                            <span></span>
                                                        </div>
                                                        <p class="oi_icon_sub_titile oi_white">Project run every Quarter </p>
                                                    </div>
                                                </div>
                                                <div class="oi_custom_heading_holder">
                                                    <div class="oi_heading_icon oi_heading_icon_left">
                                                        <i class="li_study"></i>
                                                    </div>
                                                    <div class="oi_vc_heading oi_border_position_center">
                                                        <h4 class="oi_icon_titile">100+ heads working to serve you globally</h4>
                                                        <div class="oi_heading_border oi_border_position_center">
                                                            <span></span>
                                                        </div>
                                                        <p class="oi_icon_sub_titile oi_white">Family member making things happen.</p>
                                                    </div>
                                                </div>
                                                <div class="oi_custom_heading_holder">
                                                    <div class="oi_heading_icon oi_heading_icon_left">
                                                        <i class="li_diamond"></i>
                                                    </div>
                                                    <div class="oi_vc_heading oi_border_position_center">
                                                        <h4 class="oi_icon_titile">Number of Projects 43,000+</h4>
                                                        <div class="oi_heading_border oi_border_position_center">
                                                            <span></span>
                                                        </div>
                                                        <p class="oi_icon_sub_titile oi_white">We have completed</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="contacts" class="ppslide light_bg  align-items-center d-flex main-7">
                        <div class="container">
                            <div class="vc_column-inner-contact">
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                            <div class="oi_vc_text item_height_x2 main-7-1">
                                                <div class="oi_vc_text_span">
                                                    <div class="oi_custom_heading_holder">
                                                        <div class="oi_vc_heading oi_border_position_center">
                                                            <h1 class="oi_icon_titile">CONTACT US</h1>
                                                            <div class="oi_heading_border oi_border_position_center">
                                                                <span></span>
                                                            </div>
                                                            <p class="oi_icon_sub_titile">Send us an email. We are always here to help out in whatever way we can</p>
                                                        </div>
                                                    </div>
                                                    <div role="form" class="wpcf7">
                                                            <form method="post">
                                                                    {% csrf_token %}
                                                                    {{ form.as_p }}
                                                                    <p class="text-center mb-0">
                                                                            <input type="submit" value="SEND MESSAGE" />
                                                                        </p>
                                                                </form>
                                                        <!-- <form method="post" action="cont.php">
                                                            <div class="row text-left">
                                                                <div class="col-md-6">
                                                                    <input class="form-name" type="text" name="name" value="" size="40" placeholder="NAME" />
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input class="form-email" type="email" name="email" value="" size="40" placeholder="E-MAIL" />
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <input class="form-subject" type="text" name="subject" value="" size="40" placeholder="SUBJECT" />
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <textarea class="form-message" name="message" cols="5" rows="2" placeholder="MESSAGE"></textarea>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="text-center mb-0">
                                                                        <input class="send-form" type="submit" value="SEND MESSAGE" />
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                        </form> -->
                                                    </div>
                                                </div>
                                            </div>
                                      
                                    </div>
                                    <div class="col-md-6">
                                       
                                            <div class="oi_vc_text item_height_x2 main-7-1">
                                                <div class="oi_vc_text_span">
                                                    <div class="oi_custom_heading_holder">
                                                        <div class="oi_vc_heading oi_border_position_center">
                                                            <h1 class="oi_icon_titile">OFFICE ADDRESS</h1>
                                                            <br>
                                                            <br>
                                                            <div class="oi_heading_border oi_border_position_center">

                                                            </div>
                                                            <div class="adrs">

                                                                <h4>US Office</h4>
                                                                <p>
                                                                  455 Hope Street, Unit 3C, Stamford, CT 06906, United States
                                                              </p>

                                                          </div>

                                                          <div class="adrs1">
                                                              <h4>Canada Office</h4>
                                                              <p> 77 Avondale Avenue, Toronto, ON M2N 2V1, Canada

                                                              </p>
                                                          </div>
                                                          <div class="adrs2">
                                                              <h4>Dhaka Office</h4>
                                                              <p>
                                                                  House# 471, Road# 8, Baridhara DOHS, Dhaka - 1206, Bangladesh

                                                              </p>
                                                          </div>
                                                          <div class="adrs3">
                                                              <h4>Chittagong Office</h4>
                                                              <p>
                                                                  74/A College Road, Chawkbazar, Chittagong - 4203, Bangladesh

                                                              </p>


                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- .site-main -->

    <!-- .content-area -->

    <script src="{% static 'web/framework/js/contact-form.js' %}"></script>
    <script src="{% static 'web/framework/js/jquery.waitforimages.js' %}"></script>
    <script src="{% static 'web/framework/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/framework/js/imagesloaded.js' %}"></script>
    <script src="{% static 'web/framework/js/tipso.min.js' %}"></script>
    <script src="{% static 'web/framework/js/remodal.min.js' %}"></script>
    <script src="{% static 'web/framework/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'web/framework/lightcase/lightcase.js' %}"></script>
    <script src="{% static 'web/framework/js/functions.js' %}"></script>
   
    <!-- loader -->

    
    <!-- loader -->
</body>

</html>