{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="no-js">



<head>
  <title>Mind Set &#8211; Adiva Graphics</title>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'web/framework/img/FAV.png' %}" type="image/gif/svg" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'web/framework/css/bootstrap.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/style.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/contact-form.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/vc.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/remodal.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/wocommerce.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/remodal-default-theme.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/elegant-font/style.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/linecons/style.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/typicons/style.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/lightcase/lightcase.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/tipso.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/owl.carousel.min.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'web/framework/css/page/service.css' %}" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script type="text/javascript" src="{% static 'web/framework/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/jquery-migrate.min.js' %}"></script>
  <!--[if lt IE 9]>
<script type="text/javascript" src="framework/js/html5min.js"></script>
<![endif]-->
</head>

<body class="woo_active standard_page light_bg half_screen_fi have_featured_image">
  <div class="preload"></div>
  <div class="header">
    <div class="logo_holder">
            <a href="{% url 'index'%}">
        <!-- <img class="logo_for_dark_bg img-fluid" src="{% static 'framework/img/logo.png' %}" alt="Adiva Graphics" /> -->
        <img class="logo_for_light_bg img-fluid" src="{% static 'web/framework/img/logo.png' %}" alt="Adiva Graphics" />
      </a>
    </div>
    <div id="site-header-social-menu" class="social-navigation">

      <!-- .social-navigation -->
    </div>
    <!-- .site-header-social-menu -->
  </div>
  <div class="page_featured">
        <div class="page_description_over"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="page_description">

                        <h1>Mindset</h1>
                        Our belief and work ethic are very much different to what we find in a conventional workplace. We believe in being free spirited with our talents’ creativity, ideas and innovation. To do so, we have 10 commandments in place.
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="hamburger_holder">
    <span class="icon_menu" aria-hidden="true"></span>
  </div>

  {% include "webapp/include/nav.html" %}
  
  <div class="overlay"></div>
  <div id="primary" class="content-area">
    <main id="main" class="site-main">
      <div class="container">
        <div class="row serv-1">
          <div class="col-md-8 offset-md-2">
            <div class="oi_custom_heading_holder">
              <div class="oi_vc_heading oi_border_position_none text-center">
                
                
                
                <div class="chat-right animated bounceInLeft">
                  <div class="alert alert-secondary " role="alert">
                      <div class="row">
                          
                          <div class="col-8">
                                <p>
                                    <strong>IMPORVISE</strong> ,
                                    <strong>IM</strong>proVise, im
                                    <strong>PRO</strong>vise, impro
                                    <strong>VISE</strong>, improvise Creativity a
                                    <strong>ND</strong> Innovative ideas will solve all issue </p>
                            </div>
                            <div class="col-4"><img src="{% static 'web/framework/img/improvise.png' %}" alt="improvise"></div>
                        </div>
                 
                  </div>
                </div>
               <div class="chat-left animated bounceInRight">
                  <div class="alert alert-secondary" role="alert">
                    <div class="pull-bottom">
                        <div class="row">
                            <div class="col-8"><p>Our true
                                <strong>BOSS</strong> = Client
                                <br>
                                <strong>ALL DECISIONS</strong> should be
                                <strong>BOSS</strong> centric </p></div>
                            <div class="col-4">
                              <img src="{% static 'web/framework/img/client-is-true-boss.png' %}" alt="client-is-true-boss">
                            </div>
                          </div>
                      
                    </div>
                  </div>
               </div>
                <div class="chat-right animated bounceInLeft">
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong>CHANGE</strong>
                                    <strong>A</strong>n
                                    <strong>D</strong>
                                    <strong>EVOLUTION</strong>
                                    <br> We DO NOT Believe in disruption</p>
                           </div>
                           <div class="col-4">
                              <img src="{% static 'web/framework/img/Change-and-evaluation.png' %}" alt="Change-and-evaluation">
                           </div>
                         </div>
                        
                      </div>
                </div>
                <div class="chat-left animated bounceInRight">
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong>GO</strong> with speed of Catalyst
                                    <br> Dynamism and Quality of deliverable = Vitality of Catalyst</p>
                           </div>
                           <div class="col-4">
                           <img src="{% static 'web/framework/img/Speed-of-catalyst.png' %}" alt="Speed-of-catalyst">
                           </div>
                         </div>
                       
                      </div>
                </div>
                <div class="chat-right animated bounceInLeft">
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong>HR</strong> Centric vs. bean counters
                                    <br>Recruit the best & retain, retain and retain</p>
                           </div>
                           <div class="col-4">
                           <img src="{% static 'web/framework/img/HR-centric.png' %}" alt="HR-centric">
                           </div>
                         </div>
                        
                      </div>
                </div>
               <div class="chat-left animated bounceInRight">
                  <div class="alert alert-secondary" role="alert">
                      <div class="row">
                          <div class="col-8">
                              <p>Be a
                                  <strong>CEO</strong>
                                  <br> Take care of the Golden Goose and the Goose will reciprocate</p>
                         </div>
                         <div class="col-4">
                         <img src="{% static 'web/framework/img/Golden-gooes-BEa-ceo.png' %}" alt="Golden-gooes,-BEa-ceo">
                         </div>
                       </div>
                      
                    </div>
               </div>
               <div class="chat-right animated bounceInLeft">
                  <div class="alert alert-secondary" role="alert">
                      <div class="row">
                          <div class="col-8">
                              <p>
                                  <strong>LOVE</strong> hard work &
                                  <strong>PLAY</strong> & have
                                  <strong>FUN</strong>
                                  <br> Work ethic should be paramount </p>
                         </div>
                         <div class="col-4">
                         <img src="{% static 'web/framework/img/Work-Hard.png' %}" alt="Work-Hard">
                         </div>
                       </div>
                     
                    </div>
               </div>
               <div class="chat-left animated bounceInRight">
                  <div class="alert alert-secondary" role="alert">
                      <div class="row">
                          <div class="col-8">
                              <p>
                                  <strong>AM</strong>bience &
                                  <strong>EN</strong>vironment
                                  <br> Make yourself at home</p>
                         </div>
                         <div class="col-4">
                         <img src="{% static 'web/framework/img/Ambience-enviornment.png' %}" alt="Ambience-enviornment">
                         </div>
                       </div>
                     
                    </div>
               </div>
               <div class="chat-right animated bounceInLeft">
                  <div class="alert alert-secondary" role="alert">
                      <div class="row">
                          <div class="col-8">
                              <p>Colleague comes First
                                  <br> Treat all your roommates like guest</p>
                         </div>
                         <div class="col-4">
                         <img src="{% static 'web/framework/img/Colleague-come-first.png' %}" alt="Colleague-come-first">
                         </div>
                       </div>
                      
                    </div>
               </div>
                <div class="chat-left animated bounceInRight">
                    <div class="alert alert-secondary" role="alert">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong>READ</strong> +
                                    <strong>STUDY</strong> +
                                    <strong>EMBRACE</strong> +
                                    <strong>INTEGRATE</strong> above</p>
                           </div>
                           <div class="col-4">
                           <img src="{% static 'web/framework/img/Read-study-embrace.png' %}" alt="Read,-study,-embrace">
                           </div>
                         </div>
                       
                      </div>
                </div>
                              
              </div>
            </div>
            
          </div>
        </div>
       
      </div>
    </main>
    <!-- .site-main -->

  </div>
  
  <!-- .content-area -->

  <!-- <div class="bottom_line">
    <div class="row">
      <div class="col-md-6">
        <p>Developed by Team Adiva. Copyright © 2010 - 2018 Adiva Graphics, LLC. All Rights Reserved
        </p>
      </div>
    </div>
  </div> -->
  <div class="bottom_line">
        <div class="row">
          <div class="col-md-6">
            <p>Developed by Team Adiva. Copyright © 2010 - 2018 Adiva Graphics, LLC. All Rights Reserved
            </p>
          </div>
        </div>
      </div>
  <script type="text/javascript" src="{% static 'web/framework/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/contact-form.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/tipso.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/remodal.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/lightcase/lightcase.js' %}"></script>
  <script type="text/javascript" src="{% static 'web/framework/js/functions.js' %}"></script>
</body>



</html>