{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ADIVA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <link rel="shortcut icon" href="{% static 'dashboard/assets/images/FAV.png' %}">
    <link href="{% static 'dashboard/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/assets/css/new.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body class="fixed-left-void">
{% if request.user.is_authenticated %}
    <div id="wrapper" class="forced enlarged">
        <div class="topbar">
            <div class="topbar-left">
                <div class="text-center">
                   <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'dashboard/assets/images/logo.png' %}">
                    </a>
                    <a href="{% url 'index' %}" class="logo-sm">
                        <img src="{% static 'dashboard/assets/images/logo_sm.png' %}"> <br>
                        
                    </a>
                    <a href="{% url 'logout' %}"> <h6>Log out</h6></a>
                </div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <center><h2>   <span>AdivaGraphics Capacity - {{ request.user.get_full_name }}</span></h2></center>
                </div>
            </div>
        </div>

        <div class="content-page">
            <div class="content">
                <div class="">
                    <div class="page-header-title">

                    </div>
                </div>
                <div class="page-content-wrapper ">
                    <div class="container">

                            <div class="row">
                                <div class="col-md-3">
                                        <div class="panel panel-primary">
                                            <div class="panel-body" style="padding:3%;">
                                                <h4 class="m-b-30 m-t-0"  >TALENT POOL</h4>
                                                <div class="row"> 
                                                    <div class="col-xs-12">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th><i class="ti-user"></i></th>
                                                                    <th>#</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td >Adiva Graphics Talents</td>
                                                                    <td>{% if resourceCapacity.capacity %}
                                                                        {{ resourceCapacity.capacity }}
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </td> 
                                                                   
                                                                </tr>
                                                                <tr>
                                                                    <td>Engaged Talents</td>
                                                                    <td>{% if resourceCapacity.utilized %}
                                                                        {{ resourceCapacity.utilized }}
                                                                            {% else %}
                                                                            N/A
                                                                        {% endif %}
                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td >&nbsp;&nbsp;&nbsp;&nbsp;Remaining Talents</td>
                                                                    <td>{% if unUtilizedResources %}
                                                                            {{ unUtilizedResources }}
                                                                            {% else %}
                                                                            N/A
                                                                    {% endif %}

                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td >Projects in Progress</td>
                                                                    <td>{% if ongoingProjectNumber %}
                                                                            {{ ongoingProjectNumber }}
                                                                            {% else %}
                                                                            N/A
                                                                        {% endif %}
                                                                        </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"> 
                                                                      
                                                                        <div class="progress progress-sm">
                                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                                            
                                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%" class="progress-bar progress-bar-danger progress-bar-striped  progress-bar-animated"></div>
                                                                        </div>
                                                                    </td>
                                                                    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-9">
                                    <div class="panel panel-primary ">
                                         <div class="panel-body ">
                                            <h4 class="m-b-30 m-t-0">PROJECT IN PROGRESS<sub style="
                                                text-align: right;
                                                position: absolute;
                                                top: 6%;
                                                left: 67%;
                                                ">Last updated : {{now}} EST</sub>

                                                </h4>
                                            <div class="row">
                                                <div class="col-xs-12 tScroll">

                                                    <table class="table table-striped ">
                                                        <thead>
                                                            <tr>
                                                                    <th class="textNew">#</th>
                                                                    <th class="textNew i5Name"> <span class="badge badge-secondary">Brand/Project-BU</span></th>
                                                                    <th class="textNew borderBottom"><span class="badge badge-primary"> Start</span> <i class="ti-calendar"></i></th>
                                                                    <th class="textNew"><span class="badge badge-danger"> Engaged</span> <i class="ti-user"></i></th>
                                                                    <th class="textNew"><span class="badge badge-warning">Budget</span> <i class="ti-timer"></i></th>
                                                                    <th class="textNew"><span class="badge badge-warning">Estimated</span> <i class="ti-timer"></i></th>
                                                                    <th class="textNew"> <span class="badge badge-warning">Running</span> <i class="ti-timer"></i></th>
                                                            </tr>
                                                            

                                                        </thead>
                                                        <tbody class="textNew tHor">

                                                            {% for project in ongoingProject %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ project.projects_name }}</td>
                                                                {% if project %}
                                                                    <td>{% if project.pDate %} 
                                                                            {{project.pDate|date:"m/d/y"}}
                                                                            {%else%}
                                                                                 N/A
                                                                            {%endif%}
                                                                    </td>
                                                                {% endif %}
                                                                <td class="text-center">
                                                                    {%if project.eTalents %}
                                                                        {{ project.eTalents }} 
                                                                        {%else%}
                                                                             N/A
                                                                    {%endif%}
                                                                </td>
                                                                <td class="text-center">
                                                                    {%if project.budgethours%}
                                                                        {{ project.budgethours }} hrs.
                                                                    {%else%}
                                                                        N/A
                                                                    {%endif%}
                                                                </td>
                                                                <td class="text-center">
                                                                    {%if project.estimatedHours%}
                                                                        {{ project.estimatedHours}} hrs.
                                                                    {%else%}
                                                                        N/A
                                                                    {%endif%}
                                                                </td>
                                                                <td class="text-center">
                                                                    {%if project.runningHours%}
                                                                         {{ project.runningHours }} hrs.
                                                                    {%else%}
                                                                        N/A
                                                                    {%endif%}
                                                                </td>

                                                            </tr>

                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <h4 class="m-b-30 m-t-0">Heads up</h4>
                                        <div class="row">
                                            <div class="col-xs-12 tScroll">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Brand/Project-BU</th>
                                                                <th>Estimated Arrival Time </th>
                                                                <th>Estimated Delivery Time</th>
                                                                <th colspan="2" class="text-left">Scope of Work</th>
                                                                <th colspan="2" class="text-left">Aditional Information</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for heads in headsup %}
                                                                       <tr>
           
                                                                           <td>{{ forloop.counter }}</td>
                                                                           <td>{{ heads.brand_name }} </td>
                                                                           <td>{{ heads.start_date|date:"m/d" }}</td>
                                                                           <td>{% if heads.delivery_date %}
                                                                               {{ heads.delivery_date|date:"m/d" }}
                                                                                   {% else %}
                                                                                       N/A
                                                                               {% endif %}
                                                                           </td>
                                                                           <td colspan="2">
                                                                               {% if heads.scope_of_work %}
                                                                                   {{ heads.scope_of_work }}
                                                                                   {% else %}
                                                                                   N/A
                                                                               {% endif %}
           
                                                                           </td>
                                                                           <td colspan="2" >
                                                                               {% if heads.description %}
                                                                               {{ heads.description }}
                                                                                   {% else %}
                                                                                       N/A
                                                                                   {% endif %}
                                                                           </td>
           
                                                                       </tr>
           
                                                                   {% endfor %}
           
                                                       </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">

{# Div Starts for the container of Q'1 #}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="textNew timPer">Q'1- 18</th>
                                                        <th class="textNew"># Project</th>
                                                        <th class="textNew"># Phase</th>
                                                        <th class="textNew" ># Feedback</th>
                                                        <th class="adivaIncur">Incurred Hours</th>
                                                        <th class="textNew"># Heads Up</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="textNew">
                                                {#checking if the quarter is started yet or not#}
                                                {% if totalQ1.projectCounter %}
                                                {% for project in totalQ1.projectCounter %}
                                                    <tr>
                                                        <td>{{ project.month.month }}</td>
                                                        <td class="text-center">
                                                            {% if project.completed_project_number %}                                                                
                                                                {{ project.completed_project_number }}
                                                                {%else%}
                                                                 N/A
                                                            {%endif%}</td>
                                                        <td class="text-center">
                                                            {% if project.total_phases_number %}
                                                                {{ project.total_phases_number }}
                                                                {%else%}
                                                                 N/A
                                                            {%endif%}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if project.feedback_received_number%}
                                                                {{ project.feedback_received_number }}

                                                                {%else%}
                                                                N/A
                                                           {%endif%}
                                                        </td>
                                                        <td class="text-center">
                                                            {%if project.adiva_incurred_hours%}
                                                                {{ project.adiva_incurred_hours }}
                                                                {%else%}
                                                                N/A
                                                           {%endif%}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if project.headsup_model %}
                                                                {{ project.headsup_model }}
                                                            {% else %}
                                                            N/A
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                    <tr>
                                                        <td class="active">Total </td>
                                                        <td class="active text-center">{{ totalQ1.totalCompletedProject}}</td>
                                                        <td class="active text-center">{{ totalQ1.totalCompletedPhase  }}</td>
                                                        <td class="active text-center">{{ totalQ1.totalFeedbackRecieved  }}</td>
                                                        <td class="active text-center">{{ totalQ1.totalIncurruedHour  }}</td>
                                                        <td class="active text-center"> {{ totalQ1.totalHeadsUp }}</td>
                                                    </tr>
                                                {% else %}
                                                     <tr>
                                                        <td>January</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>February</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>March</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Total</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
{# div ENDS for the container of Q'1 Data #}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">

{# Div Starts for the container of Q'2 #}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="textNew timPer">Q'2- 18</th>
                                                        <th class="textNew"># Project</th>
                                                        <th class="textNew"># Phase</th>
                                                        <th class="textNew" ># Feedback</th>
                                                        <th class="adivaIncur">Incurred Hours</th>
                                                        <th class="textNew"># Heads Up</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="textNew">
                                                {#checking if the quarter is started yet or not#}
                                                {% if totalQ2.projectCounter %}
                                                {% for project in totalQ2.projectCounter %}
                                                    <tr>
                                                        <td >{{ project.month.month }}</td>
                                                        <td class="text-center">
                                                                {% if project.completed_project_number %}                                                                
                                                                    {{ project.completed_project_number }}
                                                                    {%else%}
                                                                     N/A
                                                                {%endif%}</td>
                                                            <td class="text-center">
                                                                {% if project.total_phases_number %}
                                                                    {{ project.total_phases_number }}
                                                                    {%else%}
                                                                     N/A
                                                                {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if project.feedback_received_number%}
                                                                    {{ project.feedback_received_number }}

                                                                    {%else%}
                                                                    N/A
                                                               {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {%if project.adiva_incurred_hours%}
                                                                    {{ project.adiva_incurred_hours }}
                                                                    {%else%}
                                                                    N/A
                                                               {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if project.headsup_model %}
                                                                    {{ project.headsup_model }}
                                                                {% else %}
                                                                N/A
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td class="active">Total</td>
                                                        <td class="active text-center">{{ totalQ2.totalCompletedProject}}</td>
                                                        <td class="active text-center">{{ totalQ2.totalCompletedPhase  }}</td>
                                                        <td class="active text-center">{{ totalQ2.totalFeedbackRecieved  }}</td>
                                                        <td class="active text-center">{{ totalQ2.totalIncurruedHour  }}</td>
                                                        <td class="active text-center"> {{totalQ2.totalHeadsUp }}</td>
                                                    </tr>
                                                {% else %}
                                                     <tr>
                                                        <td>April</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>May</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                     <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>June</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                     <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Total Q2</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                     <td>N/A</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
{# div ENDS for the container of Q'2 Data #}
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="textNew timPer">Q'3- 18</th>
                                                        <th class="textNew"># Project</th>
                                                        <th class="textNew"># Phase</th>
                                                        <th class="textNew" ># Feedback</th>
                                                        <th class="adivaIncur">Incurred Hours</th>
                                                        <th class="textNew"># Heads Up</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="textNew">
                                                {% if totalQ3.projectCounter %}
                                                {% for project in totalQ3.projectCounter %}
                                                    <tr>
                                                        <td>{{ project.month.month }}</td>
                                                        <td class="text-center">
                                                                {% if project.completed_project_number %}                                                                
                                                                    {{ project.completed_project_number }}
                                                                    {%else%}
                                                                     N/A
                                                                {%endif%}</td>
                                                            <td class="text-center">
                                                                {% if project.total_phases_number %}
                                                                    {{ project.total_phases_number }}
                                                                    {%else%}
                                                                     N/A
                                                                {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if project.feedback_received_number%}
                                                                    {{ project.feedback_received_number }}

                                                                    {%else%}
                                                                    N/A
                                                               {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {%if project.adiva_incurred_hours%}
                                                                    {{ project.adiva_incurred_hours }}
                                                                    {%else%}
                                                                    N/A
                                                               {%endif%}
                                                            </td>
                                                            <td class="text-center">
                                                                {% if project.headsup_model %}
                                                                    {{ project.headsup_model }}
                                                                {% else %}
                                                                N/A
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td class="active">Total </td>
                                                        <td class="active text-center">{{ totalQ3.totalCompletedProject}}</td>
                                                        <td class="active text-center">{{ totalQ3.totalCompletedPhase  }}</td>
                                                        <td class="active text-center">{{ totalQ3.totalFeedbackRecieved  }}</td>
                                                        <td class="active text-center">{{ totalQ3.totalIncurruedHour  }}</td>
                                                        <td class="active text-center">{{ totalQ3.totalHeadsUp }}</td>
                                                    </tr>
                                                {% else %}
                                                     <tr>
                                                        <td>July</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>August</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>September</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Total Q3</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
{#Div ENDS for Quarter 3 Q'3#}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">

{# Div Starts for the container of Q'4 #}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="textNew timPer">Q'4- 18</th>
                                                        <th class="textNew"># Project</th>
                                                        <th class="textNew"># Phase</th>
                                                        <th class="textNew" ># Feedback</th>
                                                        <th class="adivaIncur">Incurred Hours</th>
                                                        <th class="textNew"># Heads Up</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="textNew">
                                                {% if totalQ4.projectCounter %}
                                                {% for project in totalQ4.projectCounter %}
                                                <td>{{ project.month.month }}</td>
                                                <td class="text-center">
                                                        {% if project.completed_project_number %}                                                                
                                                            {{ project.completed_project_number }}
                                                            {%else%}
                                                             N/A
                                                        {%endif%}</td>
                                                    <td class="text-center">
                                                        {% if project.total_phases_number %}
                                                            {{ project.total_phases_number }}
                                                            {%else%}
                                                             N/A
                                                        {%endif%}
                                                    </td>
                                                    <td class="text-center">
                                                        {% if project.feedback_received_number%}
                                                            {{ project.feedback_received_number }}

                                                            {%else%}
                                                            N/A
                                                       {%endif%}
                                                    </td>
                                                    <td class="text-center">
                                                        {%if project.adiva_incurred_hours%}
                                                            {{ project.adiva_incurred_hours }}
                                                            {%else%}
                                                            N/A
                                                       {%endif%}
                                                    </td>
                                                    <td class="text-center">
                                                        {% if project.headsup_model %}
                                                            {{ project.headsup_model }}
                                                        {% else %}
                                                        N/A
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                                    <tr>
                                                        <td class="active">Total </td>
                                                        <td class="active text-center">{{ totalQ4.totalCompletedProject}}</td>
                                                        <td class="active text-center">{{ totalQ4.totalCompletedPhase  }}</td>
                                                        <td class="active text-center">{{ totalQ4.totalFeedbackRecieved  }}</td>
                                                        <td class="active text-center">{{ totalQ4.totalIncurruedHour  }}</td>
                                                        <td class="active text-center"> {{ totalQ4.totalHeadsUp }}</td>
                                                    </tr>
                                                {% else %}
                                                     <tr>
                                                        <td>October</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                         <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>November</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td>December</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Total Q4</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                        <td>N/A</td>
                                                    </tr>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
{# div ENDS for the container of Q'4 Data #}
                                </div>
                            </div>
                        </div>

                    </div>                 
                </div>
                </div> <!--wrapper-->

            </div> <!--content-->
            
            <footer class="footer">© 2010 - 2018 Created for LRW By <i class="ti-bar-chart"> AdivaLab</i></footer>
        </div> <!--content page -->
    </div> <!--left void -->
        {%else%}
            <h2>Please log in  <a href="{% url 'login'%}">Here</a></h2>
    {% endif %}
    
    
    <script src="{% static 'dashboard/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/modernizr.min.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/detect.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/fastclick.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/jquery.blockUI.js'%}"></script>
    <script src="{% static 'dashboard/assets/js/waves.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/app.js'%}"></script>
</body>


</html>